video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  top: 0;
  position: fixed;
  z-index: -1;
}

.picture {
  width: 250px;
  height: 250px;
  margin: 40px 30px 0px 0px;
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.home-container > div > div > h1 {
  color: #fff;
  font-size: 50px;
  margin-top: 5px;
  margin-left: 20px;
  text-shadow: 1px 1px 3px #000000;
}

.home-container > div > div > p {
  margin-top: 20px;
  margin-left: 20px;
  color: #fff;
  text-align: justify;
  text-justify: inter-word;
  max-width: 500px;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.home-btns {
  margin-top: 32px;
  margin-bottom: 250px;
}

.home-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 1000px) {
  video {
    width: 150%;
    height: 150%;
  }

  .picture {
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
  }

  .profile {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .home-container {
  }

  .home-container > div > div > h1 {
    color: #fff;
    font-size: 40px;
    margin-top: 5px;
    margin-left: 20px;
  }

  .home-container > div > div > p {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    text-align: justify;
    text-justify: inter-word;
    max-width: 380px;
    font-size: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .home-btns {
    margin-bottom: 80px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

@media screen and (min-width: 2300px) {
  video {
    width: 100vw;
    height: 100vh;
  }

  .profile {
    margin-top: 400px;
  }

  .home-btns {
    margin-bottom: 500px;
  }
}

@media screen and (min-height: 1000px) {
  .profile {
    margin-top: 400px;
  }
  .home-btns {
    margin-bottom: 480px;
  }
}
